<html>
    <head>
<link rel="stylesheet" href="/style.css"/>
    </head>

    <body>
        <div class="app-container">
            <div class="input-container">
                <form method="POST" action="/upload">
                <div class = "text-container">
                    <input type="text" name="text" placeholder="Say something new...">
                </div>
                <div class="submit-container">
                    <input type="file" name="theimage"/>
                    <input type="submit" name="submitbutton" value="POST!">
                </div>
                </form>
            </div>
        </div>
    </body>
</html>